<div class="bg-lighter-grey">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card_cocktail">
            <div class="card_link">
              <%= link_to(cocktail_path(cocktail)) do %>
                <% if cocktail.photo.present? %>
                  <%= image_tag cocktail.photo, height: 100, width: 100, crop: :fill, class:"cocktail_image"%>
                <% else %>
                  <%= image_tag "logo.png", height: 100, width: 100, crop: :fill, class:"cocktail_image"%>
                <% end %>
              <% end %>
            </div>
            <h2 class="cocktail_title"><%= cocktail.name %></h2>
            <% if cocktail.user == current_user %>
              <%= link_to(edit_cocktail_path(cocktail)) do %>
                <i class="fa fa-pencil cocktail_edit"></i>
              <% end %>
              <%= link_to(cocktail_path(cocktail), method: :delete, data: {confirm: "Are you sure?"}) do %>
                <i class="fa fa-trash-o cocktail_delete"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



